
<div class="warper container-fluid">

    <div class="panel panel-default">
        <div class="panel-heading">Account Versions History </div>

        <div class="panel-body">

            <div id="container">
                <div class="scrollmenu">
                    <table cellpadding="0" border="0" class="table table-striped table-bordered" id="tbl3">
                        <thead>
                            <tr>
                                @{
                                    IEnumerable<EIF.Models.Dom_DomainColumnsAlias> alias = ViewBag.alias;
                                    <th>Version</th>
                                    foreach (var Col in alias)
                                    {
                                        <th>@Col.AliasName</th>
                                    }}

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<Dictionary<string, object>> Model = ViewBag.PCRHistory;
                                foreach (var row in Model)
                                {
                                    <tr>
                                        @foreach (var column in row)
                                        {
                                            if (column.Key == "VersionNumber")
                                            {
                                                <td>@column.Value</td>
                                            }
                                        }
                                        @foreach (var column in row)
                                        {
                                            if (column.Key != "VersionNumber")
                                            {
                                                <td>@column.Value</td>
                                            }
                                        }
                                    </tr>
                                }}
                        </tbody>


                    </table>
                </div>
                

            </div>

        </div>
    </div>
</div>
<link href="~/Content/assets/css/plugins/datatables/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/assets/js/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/assets/js/plugins/datatables/DT_bootstrap.js"></script>
<script src="~/Content/assets/js/plugins/datatables/jquery.dataTables-conf.js"></script>
<script>
    $('#tbl3').dataTable({
        "pageLength": 25,
    });
</script>
<style>
    div.scrollmenu {
        overflow: auto;
        white-space: nowrap;
    }

        div.scrollmenu a {
            display: inline-block;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

    .col-sm-2 {
        width: 100px !important;
    }

    .col-sm-3 {
        width: 200px !important;
    }
</style>