@{
    List<EIF.Helper.DomainReoprtbyTeamLeader> Reslts = new List<EIF.Helper.DomainReoprtbyTeamLeader>();
    if (ViewBag.TeamLeaderReport != null)
    {
        Reslts = ViewBag.TeamLeaderReport;
    }
}

 @using (Html.BeginForm("Chart", "collection", FormMethod.Post, new { @id = "frm-chart-data" }))
{ <input type="hidden" name="hfHTML" value="" /> 
 <input type="hidden" name="hfChartData" value="" /> }
<script src="~/Scripts/jquery.canvasjs.min.js"></script>


<script>
    var types = { Payment: 'Payment', PastDue: 'PastDue', Balance: 'Balance' }

    var data = [];
    var dataPoints = [];
    data =@Html.Raw(Json.Encode(Reslts.GroupBy(c => c.MonthYear).Select(c => new { MonthYear = c.Key, Payment = c.Sum(x => double.Parse(x.Payment)), PastDue = c.Sum(x => double.Parse(x.PastDue)), Balance = c.Sum(x => double.Parse(x.Balance)) })))

   dat = []

    var value = 0.0;
    for (var item in types) {

        if (data != null) {

            for (var i = 0; i < data.length; i++) {
                if (item == 'Payment') { value = data[i].Payment; }
                else if (item == 'PastDue') { value = data[i].PastDue; }
                else { value = data[i].Balance; }
                dataPoints.push({
                    label: data[i].MonthYear, y:
               Number(value), x: i
                });

            }

            var options = {
                title: {
                    text: item
                },
                exportEnabled: true,
                data: [
                {
                    type: "column",
                    dataPoints: dataPoints
                }

                ],
                scales: {
                    xAxes: [{
                        ticks: {
                            display: true
                        }
                    }]
                }
            };

            $("#chartContainer" + item).CanvasJSChart(options);
        }
    }
   





</script>
<script>
   
</script>

<div class="row chart-container">
    <div class="col">
        <div id="chartContainerPayment" style=" height:240px;"></div>
    </div>
    <div class="col">
     <div id="chartContainerPastDue" style="height: 240px;">
        </div>
    </div>
    <div class="col"> 
    <div id="chartContainerBalance" style="height: 240px;">
        </div>
    </div>
</div>
