
<div class="warper container-fluid">

    <div class="panel panel-default">
        <div class="panel-heading">
            Schema List
        </div>
        <div class="panel-body">

            <div id="msg"></div>
            <div id="container">
                @Html.Partial("_CollectionSchemaList")
            </div>

        </div>
    </div>
</div>


<script src="~/Scripts/Custom/PublicConfig.js"></script>
<script src="~/Scripts/Custom/Collection.js"></script>
