
<div class="warper container-fluid">

    <div class="panel panel-default">
        <div class="panel-heading">
            Domains List
        </div>
        <div class="panel-body">
            @{
                if (ViewBag.error != null)
                {
                    <p class="text-danger"><span class="fa fa-times-circle text-red"></span>Error : @ViewBag.error</p>
                }}
            <div id="container">

                @Html.Partial("_CollectionDomainList")
            </div>

        </div>
    </div>
</div>
  
<script src="~/Scripts/Custom/PublicConfig.js"></script>
<script src="~/Scripts/Custom/Collection.js"></script>