 
<!-- JQuery  -->
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/assets/js/plugins/underscore/underscore-min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div class="warper container-fluid">

    <div class="panel panel-default">
        <div class="panel-heading">
            Reset Password
        </div>
        <div class="panel-body">
            @using (Ajax.BeginForm("ResetPassword", "Admin",
                                     new AjaxOptions
                                {
                                    //AllowCache = false,
                                    HttpMethod = "POST",
                                    UpdateTargetId = "msg",
                                    InsertionMode = InsertionMode.Replace,
                                    OnBegin = "ShowProgress();",
                                    OnComplete = "HideProgress();"

                                }))
            {
                <div id="msg"></div>
                <div id="container">

                    @Html.Partial("_AdminResetPassword")
                </div>
            }

        </div>
    </div>
</div>
