
<div class="warper container-fluid">

    <div class="panel panel-default">
        <div class="panel-heading">
            Users Management
        </div>
        <div class="panel-body">

            <div id="msg"></div>
            <div id="container">

                @Html.Partial("_AdminUsersManagementList")
            </div>

        </div>
    </div>
</div>
