

<div class="warper container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            
        </div>
        <div class="panel-body">

            <div id="msg"></div>
            <div id="container">
                <h1>You are not authorized</h1>
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/Custom/PublicConfig.js"></script>
<script src="~/Scripts/Custom/Admin.js"></script>


<script>
    $(document).ready(function () {
        $(".chosen-container-single").css('width', '100%');
        $(".chosen-container").css('width', '100%');
    })
</script>
