
<div class="warper container-fluid">
    <a href="/Admin/Addpermission" style="margin-right:2%; margin-top:0.25%; margin-bottom:0.25%" class="btn btn-default tooltip-btn pull-right "><span class="glyphicon glyphicon-arrow-left"></span> <span>Back</span></a>
    <div class="panel panel-default">
        <div class="panel-heading">
           Functions
        </div>
        <div class="panel-body">

            <div id="msg"></div>
            <div id="container">

                @Html.Partial("_LicensedFunctions")
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/Custom/PublicConfig.js"></script>
<script src="~/Scripts/Custom/Admin.js"></script>
<script src="~/Content/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $(".chosen-container-single").css('width', '100%');
        $(".chosen-container").css('width', '100%');
    })
</script>
